body{
background-color: #004D41;
color: #B6FAA0;
}
header{
    background-color: darkred;
    color: #000;
}
main{
    background-color: dimgray;
    color: navy;
}
button{
    background-color: maroon;
    color: white;
    border: none;
    padding: 10px 15px;
}